/* Global Variables*/

html{
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" style="font-size:14px"><text y="16">🦄</text></svg>'), auto;
}
.hero-home {
  transition-timing-function: ease-in-out;
  transition: all 1s;
  background-size: 400% 400%;
  background-image: linear-gradient(89deg, #08AEEA 0%, #2AF598 100%);
  animation: gradientAnimation 10s ease-in-out infinite;
}

.fbBg {
  background: #3b5998 !important;
  transition: all 1s;
}

.twBg {
  background: #1da1f2 !important;
}

.lkBg {
  background: #0077b5 !important;
}

.gtBg {
  background: #333 !important;
}

.wpBg {
  background: #25D366 !important;
}

.logo {
  font-weight: bold;
}

.title--bold {
  font-weight: bold;
}
.hero.is-primary a.navbar-item:hover{
  background-color: transparent !important;
}
.nav--centered {
  margin: 0 auto;
}

.image--centered {
  margin: 0 auto;
}

h2 {
  font: bold 300% Consolas, Monaco, monospace;
  width: 16.5em;
  width:24ch;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(21, end)
}


/* ==========  Animations  ========== */
.animated--0 {
  animation-delay: 0.2s;
}

.animated--1 {
  animation-delay: 0.5s;
}

.animated--2 {
  animation-delay: 0.7s;
}

.animated--3 {
  animation-delay: 1.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
