@font-face {
   font-family: 'Grand Hotel';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/pc/dcesares.zarac@gmail.com/WEBSITES/casadeplantas_main//fonts/Grand Hotel/regular.ttf') format('truetype');
}
